body{
    background-color: #eee;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    text-align: center ;
}

header{
    text-align: center;
}

header p{
    font-size: 15px;
    font-weight: 420;
}

h2{
    font-size: ;
}

figure{
    width: auto;
    height: auto;
    background-color: white;
    text-align: center;
}

figcaption{
    margin-top: 10px;
    padding-bottom: 10px;
}

ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    list-style-position: inside;
}

li{
    margin: 16px 0;
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
  }